# We want to generate our own bundle not use any pre-existing bundles
bundle.js
bundle.js.map
/config/keys.js
/node_modules
/keys_dev

# Ignore master key for decrypting credentials and more.
master.key

public/assets/*